In [26]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [27]:
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df = pd.read_csv('../input/height-of-male-and-female-by-country-2022/Height of Male and Female by Country 2022.csv')

In [29]:
df.head()

In [30]:
new_df = df.drop(['Male Height in Ft', 'Female Height in Ft'], axis=1)
new_df.tail(10)
# type(new_df)

In [31]:
top_10_tallest_country_male = new_df.sort_values('Male Height in Cm',ascending=False)
top_10_tallest_country_male.drop('Female Height in Cm',axis=1).head()

In [59]:
color_red = '#fd625e'
color_blue = '#01b8aa'
plt.figure(figsize=(10,5))
plt.bar(data=top_10_tallest_country_male.head(10), x='Country Name', 
        height='Male Height in Cm', width=0.8, color=color_red)
plt.xticks(rotation=45)
plt.ylim(ymin=175,ymax=184)
plt.ylabel('Male Height in Cm')
plt.xlabel('Top 10 tallest Countries')
plt.show()

In [57]:
## Countries with tallest Female

top10_tallest_female = new_df.sort_values('Female Height in Cm',ascending=False)
top10_tallest_female.drop('Male Height in Cm',axis=1).head(3)
plt.figure(figsize=(10,6))
plt.bar(data=top10_tallest_female.head(10),x='Country Name',height='Female Height in Cm',width=0.8,color=color_red)
plt.xticks(rotation=45)
plt.xlabel('Female Height in Cm')
plt.ylim(ymin=165,ymax=180)
plt.ylabel('Country')
plt.show()

In [51]:
countries_with_shortest_Male = new_df.tail(10)
countries_with_shortest_Male.sort_values('Male Height in Cm',ascending=True,inplace=True)
countries_with_shortest_Male.drop('Female Height in Cm',axis=1)

In [55]:
plt.figure(figsize=(10,8))
plt.bar(data=countries_with_shortest_Male.tail(10),x='Country Name',height="Male Height in Cm",width=0.8,color=color_blue)
plt.xlabel('top 10 Countries with Shortest Male')
plt.xticks(rotation=45)
plt.ylim(ymin=159,ymax=166)
plt.ylabel('Country')
plt.show()